<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"> 
  <test name="Test1">
     <classes>
       <class name="TestNG.TestngBasics2"/> 
       <class name="TestNG.TestngBasics1">
         <methods>
         	<exclude name="testCase"/>
         </methods>
         </class>
     </classes> 
    </test>
    
   <test name= "Test2">
    <classes>
      <class name="TestNG.TestngBasics3"/>
    </classes>
   </test>
</suite> 
